.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif
}

.header {
  color: gainsboro;
}

.list {
  list-style: none;
  padding: 0;
  margin: 1rem;
  margin-bottom: 0;
  border: 1px solid gainsboro;
  border-top: 1rem solid rgb(151, 96, 33);
  box-shadow: 0px 0px 5px gray;
  min-width: 300px;
  max-width: 100%;
  font-size: 1.2rem;
}

.listInput:focus{
  font-size: 1.2rem;
  outline: none;
  border: none;
}

.list li {
  padding: 0.8rem 1.5rem;
  border-top: 1px dotted gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listspan{
  cursor: pointer;
  color:rgb(151, 96, 33);
  font-weight: bold;
}

.listHeader {
  font-style: italic;
  background-color: #f6f6f6;
  color: gray;
}
.listfooter{
  background-color: gainsboro;
  padding: 0.4rem;
  font-size: 0.7rem;
  min-width: 270px;
  max-width: 100%;
  display: flex;
  justify-content:space-between;
  margin-bottom: 1rem;
  box-shadow: 0px 3px 10px -5px gray;
}

.listfooter div{
  padding: 0.3rem;
}

.input{
  min-width: 270px;
  max-width: 100%;
  border: 1px solid gainsboro;
  margin-bottom: 1rem;
  padding:0.5rem;
}
.input::after{
  border: 1px solid gainsboro;
}

.clear{
  cursor: pointer;
  background-color: #e7e7e7;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

@media only screen and (min-width: 425px) {
  .list {
    margin: 1rem;
    margin-bottom: 0;
    min-width: 400px;
    font-size: 1.2rem;
  }
  .listfooter{
    font-size: 0.7rem;
    min-width: 370px;
  }
  .input{
    min-width: 370px;
    padding:0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .list {
    margin: 1rem;
    margin-bottom: 0;
    min-width: 700px;
    font-size: 1.2rem;
  }
  .listfooter{
    font-size: 0.7rem;
    min-width: 670px;
  }
  .input{
    min-width: 670px;
    padding:0.5rem;
  }
}